body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #ffffff 0%, #dcdcdc 100%);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #3d3d3d;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3d3d3d;
}

.form-control {
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    box-shadow: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #258cfb;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    background-color: #258cfb;
    color: #ffffff;
}

.btn:hover {
    background-color: #1f77d0;
    border-color: #1f77d0;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
